<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		{{ script|safe }}
		<title>Kepler False Positive Interactive Plotting Tool</title>

	</head>

	<body>

		{% macro tigress_url(img_name, KOInumber, id, class) -%}
			<img src="http://tigress-web.princeton.edu/~tmorton/koi-fpp/{{ KOInumber }}/{{ img_name }}" id="{{ id }}" class="{{ class }}">
		{%- endmacro %}

		<div id="form-wrapper">
			<div id="left">
				<form id='optionsform' action='/' method='POST'>
					<div id="KOIinput-label">
						<label for="KOIinput">KOI: </label>
						<select id="KOIinput" name="KOIinput">
							{% for KOI in KOInumberList %}
								<option value={{ KOI }}>{{ KOI }}</option>
							{% endfor %}
						</select>
						<span id="submit">Submit</span>
						<input id="hiddenSubmit" type="submit" value="Submit" hidden>
						<span id="clear">Clear</span>
					</div>
				</form>

				<div id="FPP_stars_tabs" class="tabs">
 					<ul>
						<li id="FPP_tab">
							FPP Summary
						</li>

						<li id="stars_tab">
							<label id="dartmouthTriangle" class="pointer">Dartmouth Triangle Plots | </label>

							<input type="radio" name="starType" value="single" id="singleStar" checked>
							<label for="singleStar" class="pointer">Single Star</label> | 
							<input type="radio" name="starType" value="double" id="doubleStar">
							<label for="doubleStar" class="pointer">Double Star</label> | 
							<input type="radio" name="starType" value="triple" id="tripleStar">
							<label for="tripleStar" class="pointer">Triple Star</label>
						</li>

					</ul>
				</div>
		        <div id="FPP_stars_images">
					{{ tigress_url('FPPsummary.png', KOInumber, 'FPP_img') }}
					{{ tigress_url('dartmouth_triangle_single_physical.png', KOInumber, 'singleStarImg', 'stars_img') }}
					{{ tigress_url('dartmouth_triangle_binary_physical.png', KOInumber, 'doubleStarImg', 'stars_img') }}
					{{ tigress_url('dartmouth_triangle_triple_physical.png', KOInumber, 'tripleStarImg', 'stars_img') }}
	        	</div>
			</div>

			<div id="right">
				<div id="top-right">
					{{ tigress_url('signal.png', KOInumber) }}
				</div>

				<div id="bottom-right">
					<div id="bottom_right_tabs" class="tabs">
	 					<ul>

							<li id="Pl_tab" class="pointer">
								Pl
							</li>

							<li id="EB_tab" class="pointer">
								EB
							</li>

							<li id="BEB_tab" class="pointer">
								BEB
							</li>

							<li id="HEB_tab" class="pointer">
								HEB
							</li>

						</ul>
					</div>
					<div id="bottom_right_images">
						{{ tigress_url('pl.png', KOInumber, 'Pl_img') }}
						{{ tigress_url('eb.png', KOInumber, 'EB_img') }}
						{{ tigress_url('beb.png', KOInumber, 'BEB_img') }}
						{{ tigress_url('heb.png', KOInumber, 'HEB_img') }}
					</div>
				</div>
			</div>
		</div>


		<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
		<script type="text/javascript" src="http://mpld3.github.io/js/mpld3.v0.1.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>

</html>