<!DOCTYPE html>
<html>

	<head>

		<title>Kepler False Positive Interactive Plotting Tool</title>

		<!-- CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main2.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.gridster.min.css') }}">

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

		<!-- JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/draggabilly/1.2.0/draggabilly.pkgd.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/packery.pkgd.min.js') }}"></script>

	</head>

	<body>

		<div class="panel-wrapper">
			<div id="control-panel">
				<div id="show-hide">show/hide</div>
				<ul>
					<li id="fpp-summary">FPP Summary</li>
					<li id="dartmouth-triangle-plot">Dartmouth Triangle Plots</li>
						<li id="dartmouth-physical">Physical</li>
							<li id="dartmouth-physical-single-star">Single Star</li>
							<li id="dartmouth-physical-binary-star">Double Star</li>
							<li id="dartmouth-physical-triple-star">Triple Star</li>
						<li id="dartmouth-observed">Observed</li>
							<li id="dartmouth-observed-single-star">Single Star</li>
							<li id="dartmouth-observed-binary-star">Double Star</li>
							<li id="dartmouth-observed-triple-star">Triple Star</li>
					<li id="likelihood-plot">Likelihood Plots</li>
						<li id="likelihood-plot-pl">Planets</li>
						<li id="likelihood-plot-eb">Eclipsing Binary</li>
						<li id="likelihood-plot-beb">Background Eclipsing Binary</li>
						<li id="likelihood-plot-heb">Hierarchical Eclipsing Binary</li>
					<li id="signal">Light Curve</li>
				</ul>
			</div>

			<div id="display-panel">
				<div id="grid-wrapper">
				</div>
			</div>

			<!-- JS -->
			<script type="text/javascript" src="{{ url_for('static', filename='js/main2.js') }}"></script>

		</div>
	</body>

</html>